$border-color: #ddd;

.notifText {
  border-top: 1px solid $border-color;
  text-align: center;
  padding: 4rem;
}

.headerItem {
  padding-left: 1rem;
  padding-right: 1rem;
}

.tableBody {
  width: 100%;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  height: 2rem;
}
