$border-color: #ddd;

.rowContent {
  display: grid;
  margin-top: 1rem;
  border-top: 1px solid $border-color;
}

.rowData {
  margin-left: 1rem;
  margin-right: 1rem;
}

.rowTitle {
  display: block;
  padding: 1rem;
}
