@import "../../variables";

.rowContent {
  display: grid;
  margin-top: 1rem;
  border-top: 1px solid $border-color;

  &__title {
    display: block;
    padding: 1rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__data {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 600px) {
  .rowContent {
    &__details {
      display: flex;
      flex-direction: row;
    }
  }
}
