$border-color: #ddd;

.rowContent {
  display: grid;
  margin-top: 1rem;
  border-top: 1px solid $border-color;
}

.rowData {
  margin-left: 1rem;
  margin-right: 1rem;
}

.rowDetails {
  display: flex;
  flex-direction: column;
}

.rowTitle {
  display: block;
  padding: 1rem;
}

@media (min-width: 600px) {
.rowDetails {
  display: flex;
  flex-direction: row;
}
}
